<header>
  <md-toolbar *ngIf="!search" color="primary" class="header-toolbar">
    <button md-button [routerLink]="['/']">
      <md-icon>home</md-icon>
      My Recipes
    </button>

    <div *ngIf="courseTypes?.length">
      <button md-button [mdMenuTriggerFor]="courseTypeMenu">Course Types</button>
      <md-menu x-position="before" #courseTypeMenu="mdMenu">
        <button md-menu-item *ngFor="let courseType of courseTypes" [routerLink]="['/course-type', courseType.type]">{{courseType.type}}</button>
      </md-menu>
    </div>

    <div fxFlex></div>

    <button md-icon-button (click)="search = !search">
      <md-icon class="md-24">search</md-icon>
    </button>

    <button md-icon-button [mdMenuTriggerFor]="accountMenu">
      <md-icon>more_vert</md-icon>
    </button>

    <md-menu #accountMenu="mdMenu">
      <button md-menu-item [routerLink]="['/login']" *ngIf="!authenticationService.isLoggedIn()">
        <md-icon>account_box</md-icon>
        <span>Sign In</span>
      </button>
      <button md-menu-item *ngIf="authenticationService.isLoggedIn()" (click)="logout()">
        <md-icon>exit_to_app</md-icon>
        <span>Sign Out</span>
      </button>
    </md-menu>
  </md-toolbar>

  <md-toolbar *ngIf="search">
    <button md-button mdPrefix md-icon-button aria-label="Clear" (click)="search = !search; searchTerm = ''">
      <md-icon>arrow_back</md-icon>
    </button>
    <md-input-container class="full-width">
      <input type="text" mdInput placeholder="Search..." [(ngModel)]="searchTerm" (keyup.enter)="performSearch()">
      <button md-button *ngIf="searchTerm" mdSuffix md-icon-button aria-label="Clear" (click)="searchTerm = ''">
        <md-icon>close</md-icon>
      </button>
    </md-input-container>
    <button md-button mdSuffix md-icon-button aria-label="Clear" (click)="search = !search; searchTerm = ''">
      <md-icon>close</md-icon>
    </button>
  </md-toolbar>

  <button class="md-fab-bottom-right" md-fab color="accent" [routerLink]="['/admin/recipe/add']" *ngIf="authenticationService.isLoggedIn()">
    <md-icon>add</md-icon>
  </button>
</header>
