<div class="ui fixed inverted menu">
  <div class="ui container">

    <div class="header item">
      <a [routerLink]="['/']">My Recipes</a>
    </div>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search icon"></i>
        </div>
      </div>
      <a class="item" [routerLink]="['/recipes']">All Recipes</a>
      <a class="item" [routerLink]="['/login']" *ngIf="!auth.isLoggedIn()">Sign In</a>
      <a class="item" [routerLink]="['/admin/recipe/add']" *ngIf="auth.isLoggedIn()">Add Recipe</a>
      <a class="item" *ngIf="auth.isLoggedIn()" (click)="logout()">Sign Out</a>
    </div>
  </div>
</div>
