<div [formGroup]="parentFormGroup">

  <div class="field" [ngClass]="{'required': isRequired}">

    <label for="{{controlName}}">{{labelName}}</label>

    <input *ngIf="type == 'text'" id="{{controlName}}" class="form-control" type="text" [formControlName]="controlName" />

    <textarea *ngIf="type == 'textarea'" id="{{controlName}}" class="form-control" type="text" [formControlName]="controlName"></textarea>

    <div class="field">

      <div class="ui error message" *ngIf="isRequired && parentFormGroup.controls[controlName].errors?.required && parentFormGroup.controls[controlName].dirty">

        <p>This field is required.</p>

      </div>

    </div>

  </div>

</div>
