<div class="ui four column grid link cards">
  <div class="ui card" *ngFor="let recipe of recipes">

    <a class="image" [routerLink]="['/recipe', recipe._id]">
      <img src="{{recipe.image}}">
    </a>

    <div class="content">
      <div class="header">{{recipe.name}}</div>
      <div class="meta">
        <a>{{recipe.course_type}}</a>
      </div>
      <div class="description">
        {{recipe.intro | trim:100}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic red button" *ngIf="loggedIn">
          <a [routerLink]="['/admin/recipe/edit/', recipe._id]">Edit</a>
        </div>
        <div class="ui basic green button">
          <a [routerLink]="['/recipe', recipe._id]">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
