<md-toolbar>
  <md-icon>account_circle</md-icon>
  <span>Login</span>
</md-toolbar>

<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start stretch">
  <div class="login-form" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="75" fxFlex.gt-md="50">
    <md-card>
      <form [formGroup]="loginForm" (submit)="login()" novalidate>
        <app-input type="text" [parentFormGroup]="loginForm" labelName="Email" controlName="email" [isRequired]="true"></app-input>
        <app-input type="password" [parentFormGroup]="loginForm" labelName="Password" controlName="password" [isRequired]="true"></app-input>

        <button class="full-width" md-raised-button color="accent" [disabled]="loginForm.invalid || processing">Login</button>

        <md-error *ngIf="errorMessage">
          <h4>Error</h4>
          <p>{{errorMessage}}</p>
        </md-error>
      </form>
    </md-card>
  </div>
</div>
