<form class="ui form error" [formGroup]="loginForm" (submit)="login()" novalidate>

  <app-input type="text" [parentFormGroup]="loginForm" labelName="Email" controlName="email" [isRequired]="true"></app-input>

  <app-input type="text" [parentFormGroup]="loginForm" labelName="Password" controlName="password" [isRequired]="true"></app-input>

  <button class="ui button" type="submit" [disabled]="loginForm.invalid || processing">Submit</button>

  <div class="ui error message" *ngIf="error">
    <div class="header">Error</div>
    <p>{{errorMessage}}</p>
  </div>
</form>
