.recipe {
  .intro {
    font-size: 1.7rem;
    font-family: "Crimson Text";
    font-style: italic;
    width: 80%;
    text-align: center;
    margin: 1em auto 2em auto;
  }
  h1 {
    font-size: 35px;
    margin-bottom: 25px;
  }
}
